body{
	font-family: 'Inter', sans-serif;
}
header{
	width: 100%;
	height: 100px;
	padding: 22px 100px;
	position: sticky;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 3;


}
.nav, li{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	display: inline;
	vertical-align: middle;
}
.nav{
	margin: 0 195px;

}
.book-btn{
	padding: 13px 50px;
	background-color: #FF5403;;
}
.main-bann{
	width: 100%;
	height: 722px;
}

main{
	position: relative;
}
.bann-text{
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
	margin-top: 250px;
}
.about, .places{
	padding: 0 50px;

}
.travel-buddy{
	color: #FFF;
	font-family: Inter;
	font-size: 96px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 6.72px;
}
.p-buddy{
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;
}
.dsc-now{
	width: 259px;
	height:66px;
	background: #FF5403;; 
	text-align: center;
	padding: 13px 50px;
	color: #FFF;
	font-size: 18px;
	font-font-family: Inter;
	style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 50px 714px 271px 759px;
}
.top-place{
	color: #041562;
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.8px;
margin-top: 282px;
margin-bottom: 20px;
}
.top-place-text{
	color: #626262;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
padding-bottom: 50px;
}
.sec-img1, .sec-img2, .sec-img3, .sec-img4, .sec-div1, .sec-div2, .sec-div3, .sec-div4{
	display: inline-block;

}

.section1{
	width: 1312px;
	height: 1182px;
	margin-left: 100px;
	margin-top: 70px;
	display: inline-block;
}
.sec-div1,.sec-div2,.sec-div3,.sec-div4{
	position: relative;
	
}
.sec-img1,.sec-img2,.sec-img3,.sec-img4{
	position: absolute;
	color: #fff;
	left: 10px;
	bottom: 10px;
}
.england, .greece, .georgia, .poland{
	color: #FFF;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.6px;

}
.dsc-more{
	width: 259px;
	height:66px;
	background: #FF5403;; 
	text-align: center;
	padding: 13px 50px;
	color: #FFF;
	font-size: 18px;
	font-font-family: Inter;
	style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 50px 714px 271px 500px;
}
.top-hotel{
	color: #041562;
text-align: center;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.8px;
margin-top: 150px;
margin-bottom: 20px;
}
.top-hotel-text{
	color: #626262;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
margin-bottom: 200px;
}
.hotel-1, .hotel-2, .hotel-3{
	width: 404px;
	height: 549px;
	display: inline-block;
}
.hotel-2{
	margin-left: 50px;
	margin-right: 50px;
}
.hotel-1-text{
	color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.2px;
}
.star{
	margin-top: 10px;
}
.hotel-text2{
	color: #626262;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 170%; /* 30.6px */
letter-spacing: 0.36px;

}
.hotel-text3{
	color: #020202;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 170%; /* 30.6px */
letter-spacing: 0.36px;
}
span{
	color: #DA1212;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 170%;
letter-spacing: 0.36px;
}
.footer{
	width: 100%;
	height: 484px;
	background: #19224D;
}
.footer-logo{
	padding-left: 100px;
	padding-top: 108px;
	display: inline-block;
}
.footer-dsc{
	display: inline-block;
	color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
margin: 108px 200px;
}

.footer-dsc-text{
		color: #FFF;

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.9px;
}
.karimun, .yogyakarta{
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer-contact{
	display: inline-block;
	color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
}
.contact-us{
	padding-bottom: 30px;

}
.contact-text{
	color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
}
.contact-mail{
	margin-top: 15px;
	margin-bottom: 15px;
}
.social-media{
	color: #FF5403;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.9px;
}